/**
 * @file
 * Base style sheet includes resets and helper classes.
 *
 * Inspiration: http://necolas.github.com/normalize.css
 */

/** Resets and Normalization **************************************************/
* {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

audio[controls],
canvas,
video {
  display: inline-block;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom */
}

body {
  margin: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic; /* code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing */
}

a {
  margin: -2px;
  padding: 2px;
}
a:hover,
a:active {
  outline: 0; /* people.opera.com/patrickl/experiments/keyboard/test */
}
a:focus {
  outline: thin dotted;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}

dl,
figure,
form {
  margin: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
button,
input {
  line-height: normal;
}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type='checkbox'],
input[type='radio'] {
  vertical-align: middle;
}
input[type='search'] {
  -webkit-appearance: textfield;
}
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons */
  border: 0;
  padding: 0;
}
button { /* www.viget.com/inspire/styling-the-button-element-in-internet-explorer */
  width: auto;
  overflow: visible;
}

textarea {
  overflow: auto;
  padding-left: .3em; /* LTR */
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  padding: 0;
  text-align: left; /* LTR */
  vertical-align: middle;
}

img,
input,
textarea,
video {
  height: auto;
  max-width: 100%;
}
embed,
iframe,
object {
  max-width: 100%;
}

/** Helper Classes ************************************************************/
.nowrap {
  white-space: nowrap;
}

.js .js-hide {
  display: none;
}

.element-hidden {
  display: none;
}
.element-invisible {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  clip: auto;
  position: static !important;
}

.container-inline div,
.container-inline label {
  display: inline-block;
}

.clearfix:after,
.menu:after { /* http://nicolasgallagher.com/micro-clearfix-hack */
  clear: both;
  content: "";
  display: table;
}

.nocallout {
  -webkit-touch-callout: none;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
