/**
 * @file
 * RTL overrides for the design style sheet.
 */

.taskbar li:first-child a {
  border-radius: 0 4px 4px 0;
}
.taskbar li:last-child a {
  border-radius: 4px 0 0 4px;
}

.inline li {
  padding-left: 0;
  padding-right: 1em;
}
.inline li:first-child {
  padding-right: 0;
}
