/**
 * @file
 * Design styles.
 */

a {
  color: #07b;
}
a:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* j.mp/webkit-tap-highlight-color */
}
a:visited {
  color: #609;
}
a:focus {
  background: #07b;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #07b;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection {
  background: #07b;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #07b;
  color: #fff;
  text-shadow: none;
}

mark {
  background: #ff0;
  color: #000;
}

/** Transitions ***************************************************************/
* {
  -moz-transition: background-color .25s linear, border-color .25s linear, -moz-box-shadow .25s linear, box-shadow .25s linear, color .25s linear, opacity .25s linear, text-shadow .25s linear, -moz-transform .25s linear;
  -ms-transition: background-color .25s linear, border-color .25s linear, -ms-box-shadow .25s linear, box-shadow .25s linear, color .25s linear, opacity .25s linear, text-shadow .25s linear, -ms-transform .25s linear;
  -o-transition: background-color .25s linear, border-color .25s linear, -o-box-shadow .25s linear, box-shadow .25s linear, color .25s linear, opacity .25s linear, text-shadow .25s linear, -o-transform .25s linear;
  -webkit-transition: background-color .25s linear, border-color .25s linear, -webkit-box-shadow .25s linear, box-shadow .25s linear, color .25s linear, opacity .25s linear, text-shadow .25s linear, -webkit-transform .25s linear;
  transition: background-color .25s linear, border-color .25s linear, box-shadow .25s linear, color .25s linear, opacity .25s linear, text-shadow .25s linear, transform .25s linear;
}

/** Gradients *****************************************************************/
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.skip-links a,
.password-indicator div,
.progress .filled,
.taskbar a,
#edit-cancel {
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
  background-image: linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
}

/** Border Radius *************************************************************/
button,
fieldset.collapsed legend,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.messages,
.password-suggestions,
.progress .bar,
#edit-cancel {
  border-radius: 4px;
}
fieldset legend {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.skip-links a {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.taskbar li:first-child a {
  border-bottom-left-radius: 4px; /* LTR */
  border-top-left-radius: 4px; /* LTR */
}
.taskbar li:last-child a {
  border-bottom-right-radius: 4px; /* LTR */
  border-top-right-radius: 4px; /* LTR */
}

/** Buttons *******************************************************************/
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
#edit-cancel {
  background-color: #f9f9f9;
  border: 1px solid #bbb;
  border-bottom-color: #a0a0a0;
  border-top-color: #ccc;
  color: #333;
  display: inline-block;
  height: 24px;
  line-height: 22px;
  margin: 0;
  padding: 0 .5em;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
}
button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.button:focus,
.button:hover,
#edit-cancel:focus,
#edit-cancel:hover {
  background-color: #fff;
  border-color: #777;
  outline: 0;
}
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.button:active,
#edit-cancel:active {
  background-color: #777;
  border-color: #888;
  color: #fff;
}

/** Progress Bar **************************************************************/
.progress .bar {
  background: #ddd;
  border: 1px solid #999;
}
.progress .filled {
  background-color: #07b;
  height: 1em;
}
.progress .percentage {
  float: right;
}

/* Skip Links *****************************************************************/
.skip-links {
  left: 50%;
  margin-left: -85px;
  position: absolute;
  width: 170px;
}
.skip-links a {
  background-color: #333;
  border: 2px solid #ccc;
  border-top: 0;
  color: #eee;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  outline: 0;
  text-align: center;
  text-decoration: none;
  width: 170px;
  z-index: 9999;
}

/** Menus *********************************************************************/
.inline li {
  padding-left: 1em; /* LTR */
}
.inline li:first-child {
  padding-left: 0; /* LTR */
}

.taskbar {
  padding: 10px 0;
}
.taskbar a,
.taskbar a:visited {
  background-color: #f9f9f9;
  border: 1px solid #bbb;
  border-bottom-color: #a0a0a0;
  border-top-color: #ccc;
  color: #333;
  height: 1.5em;
  line-height: 1.5;
  margin: 0;
  padding: 0 .5em;
  text-decoration: none;
}
.taskbar .active a {
  background-color: #777;
  border: 1px solid #888;
  color: #fff;
}
.taskbar a:hover,
.taskbar a:focus {
  border-color: #000;
  outline: 0;
  text-decoration: none;
}
.taskbar a:active {
  background-color: #e3e3e3;
  border-color: #444;
  text-decoration: none;
}

.pipeline li {
  border-color: #bbb;
  line-height: 1;
}

/** Tables ********************************************************************/
table,
tr {
  background: #fff;
  border: 1px solid #bbb;
}
th {
  background: #ddd;
  font-weight: normal;
  text-transform: uppercase;
}
tr.even {
  background: #f3f3f3;
}

/** Fieldsets *****************************************************************/
fieldset {
  background: #fff;
  border: 1px solid #bbb;
}
fieldset legend {
  background: #f3f3f3;
  border: 1px solid #bbb;
  border-bottom: none;
  color: #333;
  text-shadow: 0 1px 0 #fff;
}
fieldset.collapsed legend {
  border-bottom: 1px solid #bbb;
}

/** Vertical Tabs *************************************************************/
.vertical-tabs {
  background: #f3f3f3;
  border: 1px solid #bbb;
}
.vertical-tabs-panes {
  background: #fff;
}
.vertical-tabs-list {
  border-bottom: 1px solid #bbb;
}
.vertical-tabs-list a {
  border: 1px solid #bbb;
  border-width: 1px 1px 0 0;
  outline: 0;
  text-shadow: 0 1px 0 #fff;
}

.vertical-tabs-list a:focus,
.vertical-tabs-list a:hover {
  background: #ddd;
  color: #07b;
  text-decoration: none;
}
.vertical-tabs-list .first a {
  border-top: 0;
}
.vertical-tabs-list .selected a {
  background: #fff;
  border-right: 1px solid #fff;
}
.vertical-tabs-list .selected strong {
  color: #333;
}
.vertical-tab-button {
  outline: 0;
}

/** Forms *********************************************************************/
.password-indicator div {
  background-color: #61c419;
}

/** Main Menu *****************************************************************/
.main-menu-wrapper,
.main-menu-wrapper .tree {
  background: #f3f3f3;
}
.main-menu-wrapper a {
  color: #07b;
  margin: 0;
  padding: .25em .75em;
  text-decoration: none;
}
.main-menu-wrapper .active-trail a,
.main-menu-wrapper a:focus,
.main-menu-wrapper a:hover,
.main-menu-wrapper li:hover > a {
  background: #ddd;
}
