/**
 * @file
 * Default styles for Drupal elements.
 */

#main-content:focus,
#site-navigation:focus {
  outline: 0; /* Remove :focus styles for skiplink targets. */
}

/** Icons *********************************************************************/
.contextual-links-trigger,
.error:before,
.feed-icon,
.filter-help a:before,
.js fieldset.collapsible .fieldset-title:before,
.password-suggestions:before,
.status:before,
.tree li:before,
.warning:before {
  background: url(../img/icons.png) no-repeat;
}

.feed-icon {
  background-position: -56px -25px;
  display: block;
  height: 16px;
  margin: 0;
  padding: 0;
  text-indent: -9999em;
  width: 16px;
}

/** Fields ********************************************************************/
.field-label-inline .field-label {
  float: left; /* LTR */
}

/** Menus *********************************************************************/
.links,
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu a {
  display: block;
  margin: 0;
  padding: 0;
}

.inline > li {
  display: inline-block;
}

.tree li {
  padding-left: 1em; /* LTR */
}
.tree li:before {
  background-position: -32px -42px;
  content: '';
  display: block;
  float: left; /* LTR */
  height: 7px;
  margin: 9px .25em 0 -.5em; /* LTR */
  width: 7px;
}
.tree li.collapsed:before {
  background-position: 0 -42px; /* LTR */
}
.tree li.expanded:before {
  background-position: -16px -42px;
}

.taskbar li {
  float: left; /* LTR */
}

.pipeline li {
  border-left: 1px solid #777; /* LTR */
  float: left; /* LTR */
  margin-left: .5em; /* LTR */
  padding-left: .5em; /* LTR */
}
.pipeline li:first-child {
  border-left: 0; /* LTR */
  margin-left: 0; /* LTR */
  padding-left: 0; /* LTR */
}

.comma-separated {
  list-style: none;
  margin: 0;
}
.comma-separated li {
  display: inline;
}
.comma-separated li:after {
  content: ', ';
  margin-left: -.25em; /* LTR */
}
.comma-separated li:last-child:after {
  content: '';
  margin-left: 0; /* LTR */
}

/** Pager *********************************************************************/
.item-list .pager {
  clear: both;
  list-style: none;
  text-align: center;
}
.item-list .pager li {
  background-image: none;
  display: inline;
  padding: .5em;
}

.pager-current {
  font-weight: bold;
}

/** Messages ******************************************************************/
.messages,
.password-suggestions {
  border-style: solid;
  border-width: 4px 1px;
  position: relative;
}

.password-suggestions {
  margin: 1.8em 0 0;
}

.form-item-password-confirm-pass2 {
  padding-bottom: 0;
}

.messages:before,
.password-suggestions:before {
  content: '';
  display: block;
  height: 24px;
  left: .75em; /* LTR */
  position: absolute;
  width: 24px;
}

.messages em,
.password-suggestions em {
  color: #000;
}

.status {
  border-color: #693;
}

.status,
.ok {
  background-color: #dae5cf;
  color: #462;
}

.warning,
.password-suggestions {
  background-color: #e5dccf;
  border-color: #fa3;
  color: #664414;
}
.warning:before,
.password-suggestions:before {
  background-position: -25px 0;
}

.error {
  background-color: #e5cfcf;
  border-color: #b00;
  color: #600;
}
.error:before {
  background-position: -50px 0;
}
.error p.error {
  color: #333;
}

/** Autocomplete **************************************************************/
#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}
#autocomplete ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
#autocomplete li {
  background: #fff;
  color: #000;
  cursor: default;
  white-space: pre;
}
#autocomplete li.selected {
  background: #07b;
  color: #fff;
}

/** Contextual Links **********************************************************/
.contextual-links-region {
  outline: none;
  position: relative;
}
.contextual-links-region-active {
  outline: #999 dashed 1px;
}
.contextual-links-wrapper {
  display: none;
  font-size: 90%;
  position: absolute;
  right: 5px; /* LTR */
  top: 2px;
  z-index: 999;
}
.js .contextual-links-wrapper {
  display: block;
}
.contextual-links-trigger {
  background-position: 0 -25px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: none;
  height: 16px;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  text-indent: 34px;
  width: 27px;
}
.contextual-links-trigger:hover,
.contextual-links-active .contextual-links-trigger {
  background-position: -28px -25px;
}
.contextual-links-active .contextual-links-trigger {
  background-position: -28px -25px;
  background-color: #fff;
  border-color: #ccc;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  position: relative;
  z-index: 1;
}
.contextual-links-wrapper .contextual-links {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px 0 4px 4px; /* LTR */
  display: none;
  margin: 0;
  padding: .25em 0;
  position: absolute;
  right: 0; /* LTR */
  text-align: left; /* LTR */
  top: 18px;
  white-space: nowrap;
}
.contextual-links-region:hover .contextual-links-trigger,
.contextual-links-active .contextual-links-trigger,
.contextual-links-active .contextual-links {
  display: block;
}
.contextual-links li {
  line-height: 100%;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.contextual-links-wrapper a {
  text-decoration: none;
}
.contextual-links li a {
  color: #333 !important;
  display: block;
  margin: .25em 0;
  padding: .25em 1em .25em .5em; /* LTR */
}
.contextual-links li a:hover {
  background-color: #eee;
}

/** Forms *********************************************************************/
input[type="button"] + input[type="button"],
input[type="button"] + input[type="reset"],
input[type="button"] + input[type="submit"],
input[type="submit"] + input[type="button"],
input[type="submit"] + input[type="reset"],
input[type="submit"] + input[type="submit"],
#edit-cancel {
  margin-left: 1em; /* LTR */
}

#edit-date .form-item {
  padding-bottom: 0;
}

/** Password Inputs ***********************************************************/
.form-item .password-suggestions,
.password-parent {
  position: relative;
}
.confirm-parent,
.password-parent {
  width: 34em;
}
.password-confirm,
.password-field {
  margin-bottom: .4em;
  width: 16em;
}

.password-strength {
  float: right; /* LTR */
  margin-top: 1.1em;
  width: 17em;
}
.password-strength-text {
  float: right; /* LTR */
  font-weight: bold;
}
.password-strength-title {
  display: inline;
}
.password-indicator {
  background-color: #ccc;
  height: .4em;
  width: 100%;
}
.password-indicator div {
  height: 100%;
  width: 0;
}
.password-confirm {
  float: right; /* LTR */
  margin-top: 1.5em;
  visibility: hidden;
  width: 20.35em;
}

.form-item .password-suggestions {
  width: 30em;
}
.password-suggestions ul {
  padding-bottom: 0;
}

/** Fieldsets *****************************************************************/
fieldset {
  margin: 0 0 1.5em 0;
  padding: 0 0 1em;
  position: relative;
  top: 12px; /* Offsets the negative margin of legends */
}
fieldset + fieldset {
  margin-top: 2.25em;
}
fieldset legend {
  display: block;
  height: 2em;
  left: -1px; /* LTR */
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 1em;
  top: -12px;
  width: 100%;
}

.fieldset-wrapper {
  margin-top: 2em;
  padding: 0 1em;
}
.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0;
}

/** Collapsible Fieldsets *****************************************************/
fieldset.collapsible {
  position: relative;
}
fieldset.collapsible legend {
  text-indent: 0;
}
fieldset.collapsible .fieldset-legend {
  display: block;
}
.js fieldset.collapsible .fieldset-title:before {
  background-position: -16px -42px;
  content: '';
  display: block;
  float: left; /* LTR */
  height: 7px;
  margin: 12px .25em 0;
  width: 7px;
}
.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}
.js fieldset.collapsed .fieldset-title:before {
  background-position: 0 -42px; /* LTR */
}
.js fieldset.collapsed .fieldset-wrapper {
  display: none;
}

/** Vertical Tabs *************************************************************/
.vertical-tabs {
  position: relative; /* IE6-7 */
}

.vertical-tabs-list {
  float: left; /* LTR */
  list-style: none;
  margin: 0 -100% -1px 0; /* LTR */
  padding: 0;
  position: relative; /* IE6 */
  width: 256px;
  z-index: 1;
}
.vertical-tabs-list li {
  margin: 0;
  padding: 0;
}
.vertical-tabs-list a {
  display: block;
  margin: 0;
  padding: .5em .6em;
  text-decoration: none;
}
.vertical-tabs-list .summary {
  display: block;
}

.vertical-tabs-panes {
  margin: 0 0 0 255px; /* LTR */
}
.vertical-tabs fieldset {
  border-width: 0 0 0 1px; /* LTR */
  margin: 0;
  padding: 0;
  top: 0;
}
.vertical-tabs .fieldset-wrapper {
  margin-top: 0;
  padding: .5em 1em;
}

.vertical-tabs legend {
  display: none;
}

.vertical-tabs .form-type-textfield input {
  width: 100%;
}

/** Text Filters *****************************************************************/
fieldset.filter-wrapper {
  padding: 0;
  top: 0;
}
.filter-wrapper .fieldset-wrapper {
  margin-top: 1em;
}
.filter-help {
  float: right; /* LTR */
}
.filter-help a:before {
  background-position: -28px -31px;
  content: '';
  display: inline-block;
  height: 15px;
  margin-right: .5em; /* LTR */
  vertical-align: text-bottom;
  width: 14px;
}
