/**
 * @file
 * RTL overrides for the internet explorer style sheet.
 */

/** typography-rtl.css ********************************************************/
@media screen {
  .lt-ie8 legend {
    margin-left: 0;
    margin-right: -7px;
  }
}

/** layout-rtl.css ************************************************************/
@media screen and (min-width: 35em) {
  .lt-ie7 .last-unit {
    left: 0;
    margin-left: -3px;
    margin-right: 0;
    right: -3px;
  }
}
