/**
 * @file
 * Fixes for Internet Explorer 8 and below.
 */

/** base.css ******************************************************************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

.lt-ie8 audio[controls],
.lt-ie8 canvas,
.lt-ie8 video {
  display: inline;
  zoom: 1;
}

.lt-ie8 button,
.lt-ie8 input,
.lt-ie8 select,
.lt-ie8 textarea {
  vertical-align: middle;
}

.lt-ie8 button,
.lt-ie8 input {
  overflow: visible;
}

.lt-ie8 .element-invisible {
  clip: rect(1px 1px 1px 1px);
}

.lt-ie8 .container-inline div,
.lt-ie8 .container-inline label {
  display: inline;
  zoom: 1;
}

.lt-ie8 .clearfix,
.lt-ie8 .menu {
  zoom: 1;
}

/** typography.css ************************************************************/
@media screen {
  .lt-ie8 legend {
    margin-left: -7px; /* LTR */
  }
}

/** drupal.css ****************************************************************/
.lt-ie8 .inline li {
  display: inline;
}

.lt-ie8 .vertical-tabs-list li {
  min-width: 0;
}

.lt-ie7 .vertical-tabs .form-type-textfield,
.lt-ie7 .vertical-tabs .form-textarea-wrapper {
  width: 95%;
}

/** layout.css ****************************************************************/
.lt-ie8 .site-navigation .main-menu li {
  display: inline;
}
@media screen and (min-width: 35em) {
  .lt-ie8 .line,
  .lt-ie8 .last-unit {
    overflow: visible;
    zoom: 1;
  }
  .lt-ie7 .last-unit {
    left: -3px; /* LTR */
    margin-right: -3px; /* LTR */
    position: relative;
  }
}
