/**
 * @file
 * Layout styles.
 */

.page {
  margin: 0 auto;
  max-width: 35em;
}

.skip-links {
  position: absolute;
}

.masthead,
.main-menu-wrapper,
.secondary-menu-wrapper,
.breadcrumb,
.main-content,
.main-footer {
  padding: 0 1em;
}

.site-logo {
  display: none; /* Hide logo until printing. */
}

.site-navigation .main-menu {
  text-align: center;
}
.site-navigation .main-menu > li {
  display: inline-block;
  margin-right: -4px; /* LTR */
}
.site-navigation .main-menu > li > a {
  white-space: nowrap;
}
.site-navigation .main-menu ul {
  display: none;
  position: absolute;
  z-index: 1;
}

@media screen and (min-width: 35em) {
  .line,
  .last-unit {
    overflow: hidden;
  }
  .line {
    margin: 0 -2%;
  }
  .unit {
    float: left; /* LTR */
    padding: 0 2%;
  }
  .unit-right {
    float: right; /* LTR */
  }
  .last-unit {
    float: none;
    width: auto;
  }
  .size-1of1 {
    float: none;
  }
  .size-1of2 {
    width: 96%;
  }
  .size-1of4 {
    width: 46%;
  }

  .two-sidebars .region-sidebar {
    width: 16em;
  }
  .two-sidebars .region-sidebar-first {
    float: left; /* LTR */
  }
  .two-sidebars .region-sidebar-second {
    clear: right; /* LTR */
    float: right; /* LTR */
  }
}

@media screen and (min-width: 52em) {
  .size-1of2 {
    width: 46%;
  }
  .size-1of3 {
    width: 29.33333%;
  }
  .size-2of3 {
    width: 62.66667%;
  }
  .size-1of4 {
    width: 21%;
  }
  .size-3of4 {
    width: 71%;
  }
  .size-1of5 {
    width: 16%;
  }
  .size-2of5 {
    width: 36%;
  }
  .size-3of5 {
    width: 56%;
  }
  .size-4of5 {
    width: 76%;
  }
  .size-1of6 {
    width: 12.66667%;
  }
  .size-5of6 {
    width: 79.33333%;
  }

  .layout-25-50-25 > .unit-main {
    margin-left: 25%; /* LTR */
    margin-right: -100%; /* LTR */
  }
  .layout-25-50-25 > .last-unit {
    margin-left: 75%; /* LTR */
  }

  .page {
    max-width: 52em;
  }

  .one-sidebar .main-column,
  .two-sidebars .main-column {
    float: left; /* LTR */
    width: 33em;
  }

  .page .region-sidebar {
    float: right; /* LTR */
    width: 16em;
  }

  .site-navigation .main-menu {
    text-align: left; /* LTR */
  }
  .site-navigation .main-menu > li {
    display: block;
    float: left; /* LTR */
    margin-right: 0; /* LTR */
  }
  .site-navigation .main-menu > li > a {
    display: block;
  }
  .site-navigation .main-menu li:hover > ul {
    display: block;
  }
}

@media screen and (min-width: 69em) {
  .page {
    max-width: 69em;
  }

  .page .main-column {
    float: left; /* LTR */
    margin-right: -100%; /* LTR */
    width: 50em;
  }
  .no-sidebars .main-column {
    width: 67em;
  }
  .two-sidebars .main-column {
    width: 33em;
  }

  .page .region-sidebar-first {
    float: left; /* LTR */
  }
  .page .region-sidebar-second {
    float: right; /* LTR */
  }
  .sidebar-first .main-column,
  .two-sidebars .main-column {
    margin-left: 17em; /* LTR */
  }
}

/** Print Layout **************************************************************/
@media print {
  iframe,
  nav,
  .block-menu,
  .block-menu-block,
  .block-search,
  .block-user,
  .comment-form,
  .links,
  .menu,
  .no-print,
  .node-links,
  .site-name-and-slogan,
  .submitted .permalink,
  .tasks,
  #block-comment-recent,
  #block-forum-active,
  #block-forum-new,
  #block-node-recent,
  #block-node-syndicate {
    display: none;
  }

  .site-logo {
    display: block;
  }

  .page {
    width: 100%;
  }
}
