/**
 * @file
 * RTL overrides for the layout style sheet.
 */

.site-navigation .main-menu > li {
  margin-left: -4px;
  margin-right: 0;
}

@media screen and (min-width: 35em) {
  .unit {
    float: right;
  }
  .unit-right {
    float: left;
  }

  .two-sidebars .region-sidebar-first {
    float: right;
  }
  .two-sidebars .region-sidebar-second {
    clear: left;
    float: left;
  }
}

@media screen and (min-width: 52em) {
  .layout-25-50-25 > .unit-main {
    margin-left: -100%;
    margin-right: 25%;
  }
  .layout-25-50-25 > .last-unit {
    margin-left: 0;
    margin-right: 75%;
  }

  .one-sidebar .main-column,
  .two-sidebars .main-column {
    float: right;
  }

  .page .region-sidebar {
    float: left;
  }

  .site-navigation .main-menu {
    text-align: right;
  }
  .site-navigation .main-menu > li {
    float: right;
    margin-left: 0;
  }
}

@media screen and (min-width: 69em) {
  .page .main-column {
    float: right;
    margin-left: -100%;
    margin-right: 0;
  }

  .page .region-sidebar-first {
    float: right;
  }
  .page .region-sidebar-second {
    float: left;
  }

  .sidebar-first .main-column,
  .two-sidebars .main-column {
    margin-left: -100%;
    margin-right: 17em;
  }
}
