/**
 * @file
 * Typography styles.
 *
 * Baseline Grid: 1.5em (24px)
 */

/** Generic Screen Typography *************************************************/
@media screen {
  body,
  button,
  input,
  select,
  textarea {
    font-family: Verdana, 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', sans-serif;
  }
  body {
    font-size: 100%;
    line-height: 1.5;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: Consolas, 'Lucida Console', 'Courier New', monospace, sans-serif;
    font-size: 1em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  th,
  legend {
    font-family: Candara, 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', sans-serif;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    text-rendering: optimizeLegibility; /* http://www.aestheticallyloyal.com/public/optimize-legibility/ */
  }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    text-decoration: none;
  }
  h1 {
    font-size: 200%;
    padding: .25em 0;
  }
  h2 {
    font-size: 175%;
    padding: .3571em 0;
  }
  h3 {
    font-size: 150%;
    padding: .5em 0;
  }
  h4 {
    font-size: 116.6%;
    padding: .1429em 0;
  }
  h5,
  h6 {
    font-size: 100%;
    padding: .25em 0;
  }
  h6 {
    font-style: italic;
  }

  dd,
  ol,
  p,
  ul,
  .fieldset-description,
  .form-actions,
  .form-item {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    margin: 0;
    padding-bottom: 1.5em;
  }
  table,
  .progress,
  .region-sidebar .block {
    margin-bottom: 1.5em;
  }

  ul {
    padding-left: 1.2em; /* LTR */
  }
  blockquote,
  dd,
  ol {
    padding-left: 1.5em; /* LTR */
  }
  ol li:last-child p:last-child,
  ol ol,
  ol ul,
  p:empty,
  ul li:last-child p:last-child,
  ul ol,
  ul ul,
  .form-checkboxes .form-item,
  .form-radios .form-item,
  .messages ul:last-child {
    padding-bottom: 0;
  }

  blockquote {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    margin: 0;
    padding-right: 1.5em; /* LTR */
  }

  sub,
  sup { /* gist.github.com/413930 */
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -.5em;
  }
  sub {
    bottom: -.25em;
  }

  fieldset {
    margin: 0 2px 1.5em;
    padding: .35em 1em .75em;
  }
  .fieldset-wrapper div:last-child {
    padding-bottom: 0;
  }
  .fieldset-description {
    font-style: italic;
  }

  table {
    width: 100%;
  }
  th {
    line-height: 1.1;
    padding: .45em 1.2em;
  }
  td {
    line-height: 1.1;
    padding: .375em 1em;
  }

  label {
    display: block;
    font-weight: bold;
  }
  label.option {
    display: inline;
    font-weight: normal;
  }

  small,
  th,
  .block-user .item-list,
  .comment-links,
  .filter-help,
  .form-item .description,
  .messages,
  .more-link,
  .node-links,
  div.password-confirm,
  .password-strength-text,
  .password-strength-title,
  div.password-suggestions,
  .progress .message,
  .progress .percentage,
  .submitted,
  .vertical-tab-button .summary {
    font-size: 83.3%;
    line-height: 1.8;
  }

  .messages,
  .password-suggestions {
    margin-bottom: 1.8em;
    padding: 9px 9px 9px 44px; /* LTR */
  }

  .messages li + li {
    padding-top: .9em;
  }
  .messages li .placeholder:first-child,
  .password-suggestions li .placeholder:first-child {
    font-weight: bold;
  }

  .node-links,
  .comment-links {
    margin-bottom: 1.8em;
  }
}

/** Print Typography **********************************************************/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -ms-filter: none !important;
    filter: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    color: #444 !important;
    text-decoration: none;
  }
  .content a[href]:after {
    content: ' (' attr(href) ') ';
    font-size: 10pt;
    font-weight: normal;
  }

  /* Uncomment and replace www.example.com with your site's domain.
  .content a[href^='/']:after {
    content: ' (http://www.example.com' attr(href) ') ';
  }
  */

  a[href^='javascript:']:after,
  a[href^='#']:after,
  .user-picture > a[href]:after,
  a.username[href]:after,
  .comment-title a[href]:after,
  .field-type-taxonomy-term-reference a[href]:after {
    content: '';
  }

  abbr[title]:after {
    content: ' (' attr(title) ')';
  }

  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  img,
  tr {
    page-break-inside: avoid;
  }

  h1 a:after,
  h2 a:after,
  h3 a:after,
  h4 a:after,
  h5 a:after,
  h6 a:after {
    display: inline-block;
  }

  h2,
  h3,
  h4,
  p {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }

  #comments {
    page-break-before: always;
  }
}
